/* .telegram-left {
  height: 100vh;
  display: flex;
  flex-direction: column;
} */

/* .chats {
  height: 100%;
  overflow: auto;
} */
.body {
  background-color: rgb(21, 30, 43);  
}
.chats__list-item:not(:first-child) {
  margin-top: -1px;
}

.navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show>.nav-link {
  background-color: gold;
  color: #222;
}
